---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
---
<Layout>
    <HeroText>
        <Fragment slot="title">
            <span class="font-mistrully text-socialswingblue dark:text-white">Instructor Biographies</span>
        </Fragment>
    </HeroText>
</br>
</br>
<!-- BallroomKC Section-->
<HeroText>
    <Fragment slot="title">
        <span class="font-poppins text-socialswingblue dark:text-white">Ballroom KC/Social Swing</span>
    </Fragment>
</HeroText>
<Content
        title="Kris Haney"
        isReversed
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/krish.jpg',
        alt: 'Kris',
        }}
    >
    <Fragment slot="content">
        <p class="text-lg text-socialswingblue dark:text-gray-300">
            Kris is always happy to step out and share a song with you. He thrives on helping others find not only the ability to dance well, but the ability to find the greatest amount of joy in doing so.
            </br>
            </br>
            Kris has a background in ballroom and swing, and a tenure as a former Kansas City Swingster. As an analytical thinker, he excels in taking hard-to-grasp concepts and breaking them down into smaller parts that are easier for a student to digest.
        </p>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Preferred Contact Method:</h5>
        <a href="mailto:KRISHANEY+DANCE@GMAIL.COM">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> krishaney+dance@gmail.com</h5>
        </a>
    </Fragment>
    </Content>
    <Content
        title="Liz Watkins"
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/krish.jpg',
        alt: 'Liz',
        }}
    >
    <Fragment slot="content">
        <p class="text-lg text-socialswingblue dark:text-gray-300">
            Liz started teaching in the Kansas City area in 2015. In addition to teaching, she was a part of the Kansas City Swingsters performance team for a number of years and has competed in West Coast Swing, Country, and Ballroom. Liz loves teaching all ages because she is passionate about bringing the joy of dance to everyone. Currently, outside of teaching, she runs the First Act Theater Arts Dance Studio for kids.
        </p>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">STYLES OF DANCE: WEST COAST SWING, COUNTRY, BALLROOM</h5>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Preferred Contact Method:</h5>
        <a href="mailto:socialswingkc@gmail.com">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> socialswingkc@gmail.com</h5>
        </a>
    </Fragment>
    </Content>
</br>
</br>
<!-- BLC Section-->
<Hero
    title="J & A Dance Studios/Body Language Curriculum"
    image={{
        src: '~/assets/images/blc.JPG',
        alt: 'BLC',
        }}
/>

<Content
        title="Ariel Peck"
        isReversed
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/ariel.JPG',
        alt: 'Ariel',
        }}
    >
    <Fragment slot="content">
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">EXPERTISE AND FOCUS:
        </br>
        Champion West Coast Swing Competitors with a specialty in Interactive Communication and Language Skills Development</h5>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Social Media:</h5>
        <a href="https://www.instagram.com/bodylanguagecurriculum/">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - West Coast Swing Dance | Jesse and Ariel (@bodylanguagecurriculum) • Instagram photos and videos</h5>
        </a>
        </br>
        <a href="https://www.instagram.com/ariel.peck/">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Ariel Peck (@ariel.peck) • Instagram photos and videos</h5>
        </a>
        </br>
        <a href="https://www.facebook.com/groups/244630268361287/?hoisted_section_header_type=recently_seen&multi_permalinks=304973142326999">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Body Language Curriculum Community | Facebook</h5>
        </a>
    </Fragment>
    </Content>
    <Content
        title="Jesse Lopez"
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/jesse.JPG',
        alt: 'CAST Exterior',
        }}
    >
    <Fragment slot="content">
        <p class="text-lg text-socialswingblue dark:text-gray-300">
            Less of a Unicorn; More of a Mushroom
        </br>
            ~ADHD Empowered + Neurologically Evolving~
        </br>
        WHAT I DO:
        </br>
        I teach the Body Language of West Coast Swing. I provide Adventurers, Thinkers and Creatives an Inclusive and Consent focused dance environment where they can pursue joy, development, and movement. I am actively driving to change the world of WCS education by reestablishing Physical Connection to oneself and one’s partner on the dance floor with the goal of helping our kinetic human computers reconnect to the joy of community, movement and music. I pursue my passion for the Kinetic Dance Languages around the world, traveling as an Instructor, Judge and Competitor from Coast to Coast across the States and around the World. If your dance life is missing improvisation, passion, or efficiency, send me a DM and let’s talk about how we can evolve your dance. 
        </br>
        WHY I DO IT։
        </br>
        Dancing is my safe space and my purest form of expression. Sharing the love of swing dancing with my home KC and abroad communities fulfills my Ikigai, and I look forward to people experiencing the environmental positivity of the WCS social dance floor.
        </p>
        
    </Fragment>
    </Content>
</br>
</br>
<!-- KC Modern Swing Section-->
<Hero
    title="KC Modern Swing"
    image={{
        src: '~/assets/images/modern swing.webp',
        alt: 'BLC',
        }}
/>

<Content
        title="Jodi & Kitty Solbrig"
        isReversed
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/kitty-jodi.jpg',
        alt: 'Kitty and Jodi',
        }}
    >
    <Fragment slot="content">
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Jodi and Kitty are living proof that west coast swing can change your life. They love sharing their skills and passion with other dancers, both on and off the dance floor. Find them hosting public dances, private practices, and westie bombs (gathering at non-wcs social dances for the purpose of dancing) around Kansas City.
        </br>
        </br>
        EXPERTISE AND FOCAL POINTS:
        </br>
        KC Modern Swing focuses on social dance skills. We are beginner-friendly, and we're awesome at helping people have more fun and find more success on the social dance floor. At this time, we do not teach private dance lessons.</h5>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Preferred Contact Method:</h5>
        <a href="mailto:dance@kcmodernswing.com">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> dance@kcmodernswing.com</h5>
        </a>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Facebook Message, Discord, or In-Person</h5>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Social Media:</h5>
        <a href="https://www.facebook.com/kcmodernswing">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Facebook - KC Modern Swing</h5>
        </a>
        <a href="https://www.instagram.com/kcmodernswing/">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Instagram - KC Modern Swing</h5>
        </a>
    </Fragment>
    </Content>
    </br>
    </br>
    <!-- Mac Paige Dance Section-->
    <Hero
        title="Mac Paige Dance"
    />
    <Content
            title="McKenzie Butcher"
            isReversed
            isDark={false}
            classes={{
                title: 'text-black dark:text-white',
            }}
            image={{
            src: '~/assets/images/mckenzie.jpg',
            alt: 'McKenzie',
            }}
        >
        <Fragment slot="content">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300">I’ve been dancing since I was 8 years old. I grew up doing ballet and had the opportunity to perform roles such as Clara, Dewdrop, and Lead Swan with Ballet Midwest in Topeka. In high school and college, I taught ballet classes and danced with a local touring group called Cleargold. I first tried swing dancing in high school and started partner dancing more regularly in college, in a variety of styles including east coast swing, lindy hop, Charleston, salsa, and bachata. I started dancing west coast swing in 2019, and it quickly became my favorite style. I love growing in my own dance and helping others do the same. 
            </br>
            </br>
            EXPERTISE AND FOCAL POINTS:
            </br>
            West Coast Swing</h5>
            </br>
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Preferred Contact Method:</h5>
            <a href="mailto:MCKENZIEBUTCHER@GMAIL.COM">
                <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> mckenziebutcher@gmail.com</h5>
            </a>
        </Fragment>
        </Content>
    </br>
</br>
<!-- Suede Soul Section-->
<Hero
    title="Suede Soul"   
/>
<Content
        isReversed
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
            src: '~/assets/images/suedesoul.jpg',
            alt: 'suade soul',
            }}
    >
    <Fragment slot="content">
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Suede Soul is the west coast swing partnership of Jillian and Ben. Both began dancing within a few months of one another, though in different places and for different reasons. Upon meeting each other in the Kansas City community, it became clear their styles, mindset, and attitudes towards dance meshed well and they partnered in October 2019. After hibernating and growing as a partnership through the COVID era, Jillian and Ben began teaching in March 2022 and Suede Soul was formally born in May 2023.</h5>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Preferred Contact Method: Facebook message or </h5>
            <a href="mailto:SUEDESOULDANCE@GMAIL.COM">
                <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> suedesouldance@gmail.com</h5>
            </a>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Social Media:</h5>
        <a href="https://www.facebook.com/suedesouldance">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Facebook - Suede Soul</h5>
        </a>
    </Fragment>
    </Content>
    <Content
        title="Ben Dobson"
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/ben.jpg',
        alt: 'ben',
        }}
    >
    <Fragment slot="content">
        <p class="text-lg text-socialswingblue dark:text-gray-300">
            Ben works as a mechanical engineer when not dancing. West coast swing is his first and currently only (real) dance style. Past experiences like showing horses and playing soccer help inform his own dance theory. He appreciates exploring the analytical side of dance and bending the rules to create the dance he wants.
        </p>
    </Fragment>
    </Content>
    <Content
        title="Jillian Carrol"
        isReversed
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/jillian.jpg',
        alt: 'ben',
        }}
    >
    <Fragment slot="content">
        <p class="text-lg text-socialswingblue dark:text-gray-300">
            Jillian is a genetic counselor by day and a dancer by night. She enjoys getting the chance to express her creative mind after days full of science. While west coast swing is her current (and forever?) love, it is not her first dance style. A background in lindy, blues, east coast swing, and ice dancing paved the way for her appreciation of partner dancing and the interplay of leading and following.
        </p>
    </Fragment>
    </Content>
</br>
</br>
<!-- STREET STYLES Section-->
<Hero
    title="Street Styles"
/>
<Content
        title="Isaiah Tingus"
        isReversed
        isDark={false}
        classes={{
            title: 'text-black dark:text-white',
        }}
        image={{
        src: '~/assets/images/isaiah.jpeg',
        alt: 'McKenzie',
        }}
    >
    <Fragment slot="content">
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Isaiah Tingus is a dance instructor in the Kansas City area with over 10 years of diverse and accomplished experience in West Coast Swing and Hip Hop/Street Dance. 
        </br>
            In 2010, inspired by a dance film, Isaiah began to teach himself as a hobby, focusing specifically on Popping. After leaving high school, he successfully auditioned for the Unyted Stylz Production Company in Boston, and began his tenure as a teacher and choreographer. 
            </br>
            In present-day Kansas City, Isaiah teaches West Coast Swing in group classes and private lessons, and hosts Street Styles workshops where he teaches a variety of street dances. He has a passion for dance history, specifically teaching about the founders of a dance, honoring their roots and the blueprints they created for us. He greatly enjoys teaching how to transfer skills from one type of dance to another to create one’s individual style.
            </br>
            When he’s not working or teaching, you can find him spending time with his wife, reading, DJ-ing, or seeking more ways to grow as both a person and a dancer.
        </br>
        </br>
        EXPERTISE AND FOCAL POINTS:
        </br>
        Expertise in Street dances/Hip hop, West Coast Swing, Ballroom, Wedding Dance choreography</h5>
        </br>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Preferred Contact Method: Facebook Message or </h5>
        <a href="mailto:ISAIAHTINGUS@GMAIL.COM">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> isaiahtingus@gmail.com</h5>
        </a>
        <h5 class="text-2xl text-socialswingblue dark:text-gray-300">Social Media:</h5>
        <a href="https://www.instagram.com/zaytingus/">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Instagram - zaytingus</h5>
        </a>
        <a href="https://www.facebook.com/isaiah.tingus/">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Facebook - isaiah.tingus</h5>
        </a>
        <a href="https://www.youtube.com/@IsaiahTingusWCS">
            <h5 class="text-2xl text-socialswingblue dark:text-gray-300"> - Youtube - IsaiahTingusWCS</h5>
        </a>
    </Fragment>
    </Content>
</Layout>